# Git configuration
/config/database.php

# Logs and temporary files
/logs/*.log
/cgi-bin/

# Archive files
/*.zip
/favicon_io (1).zip
/wool-mes_v1.0.6.zip

# System files
.DS_Store
Thumbs.db

# Misc
.well-known/
